$sidebar-color: rgb(34, 51, 58);
$accent-color: rgb(236, 85, 64);
$text-alt: rgb(155, 165, 169);
$input-background-color: rgb(243, 243, 243);
$form-check-input-checked-bg-color: white;

body{
    margin: 0;
    padding: 0;

    .nav-link{
        color: $text-alt;
        &:hover{
            color: white;
        }
    }

    textarea.form-control {
        resize: none;
        background-color: $input-background-color;
    }
}

.sidebar{
    background-color: $sidebar-color;
    height: 100vh;
    color: white;
    font-size: 15pt;

    .sidebar-main{
        height: 80vh;

        .profile-btn{
            background-color: lighten($sidebar-color, 5%);
            color: inherit;
            
            .user-name{
                font-weight: bold;
            }

            .notification{
                position: absolute;
                bottom: 0;
                right: -10px;
                background-color: $accent-color;
            }
        }

        .ship-dropdown{
            height: 75px;
            position: relative;
            font-weight: bold;
            font-size: 15pt;

            .accent-bar{
                height: 100%;
                width: 7px;
                position: absolute;
                left: -16px;
                background-color: $accent-color;
            }
        }
    }

    .sidebar-prefs{
        background-color: darken($sidebar-color, 10%);
        height: 20vh;
        color: $text-alt;
    }
}

.content{
    height: 100vh;

    h2{
        color: $text-alt;
    }

    h3{
        font-size: 17pt;
    }

    hr{
        margin: 30px -16px 16px;
        border: 0;
    }

    .form-check-label{
        font-size: 10pt;
        font-weight: 600;
    }

    .modal-dialog{
        margin-left: 20%;
        margin-right: 0;
        width: 90%;
    }

    input[type="checkbox"]{
        border: 1px solid rgb(192, 192, 192);
        width: 20px;
        height: 20px;
        border-radius: 3px;
        margin-right: 10px;

    }

    .contact{
        .form-control{
            background-color: $input-background-color
        }
    }

    .pickup-size{
        input[type="number"] {
            -webkit-appearance: textfield;
               -moz-appearance: textfield;
                    appearance: textfield;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
        }

        .increment-btn{
            border: none;
            background-color: white;
            padding-right: 10px;
        }

        .increment-up{
            display: grid;
            place-items: end center;
        }

        .increment-down{
            display: grid;
            place-items: start center;
        }
    }

    .pickup-location{
        background-color: $input-background-color;

        .site-selection{
            background-color: white;
        }
    }
}

