$sidebar-color: rgb(34, 51, 58);
$accent-color: rgb(236, 85, 64);
$text-alt: rgb(155, 165, 169);
$input-background-color: rgb(243, 243, 243);

body{
    margin: 0;
    padding: 0;

    .nav-link{
        color: $text-alt;
        font-size: 12pt;
        font-weight: 500;
        &:hover{
            color: white;
        }
    }

    textarea.form-control {
        resize: none;
        background-color: $input-background-color;
    }
}

.sidebar{
    background-color: $sidebar-color;
    height: 100vh;
    color: white;
    font-size: 15pt;

    .sidebar-main{
        height: 80vh;

        .logo{
            height: 50px;
            width: 190px;
        }

        .profile-btn{
            background-color: lighten($sidebar-color, 5%);
            color: inherit;
            position: relative;
            width: 90%;

            .user-photo{
                height: 65px;
                width: 65px;
            }
            
            .user-name{
                font-weight: bold;
            }

            .notification{
                position: absolute;
                width: 30px;
                height: 30px;
                bottom: 0;
                left: 60px;
                background-color: $accent-color;
            }
        }

        .ship-dropdown{
            height: 75px;
            position: relative;
            font-weight: bold;
            font-size: 15pt;

            .accent-bar{
                height: 100%;
                width: 7px;
                position: absolute;
                left: -16px;
                background-color: $accent-color;
            }
        }
    }

    .sidebar-prefs{
        background-color: darken($sidebar-color, 10%);
        height: 20vh;
        color: $text-alt;

        .preferences{
            height: 25px;
        }
    }
}

.content{
    height: 100vh;

    h2{
        color: $text-alt;
    }

    h3{
        font-size: 17pt;
    }

    hr{
        margin: 30px -16px 16px;
        border: 0;
    }

    input[type="checkbox"]{
        border: 1px solid rgb(192, 192, 192);
        width: 20px;
        height: 20px;
        border-radius: 3px;
        margin-right: 10px;

        &:checked{
            background-color: white;
            background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'><path fill='rgb(13, 110, 253)' stroke='rgb(13, 110, 253)' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/></svg>");
        }
    }

    input[type="date"]{
        padding-left: 10px;
        &:focus{
            outline: none;
        }
    }

    .form-check-label{
        font-size: 10pt;
        font-weight: 600;
    }

    .modal-dialog{
        margin-left: 20%;
        margin-right: 0;
        width: 90%;
    }

    .form-select, .form-control{
        &:focus{
            box-shadow: none;
            outline: none;
        }
    }

    .schedule{
        .pickup-date{
            position: relative;

            .datepicker{
                position: absolute;
                top: 13px;
                right: 15px;
                background-color: white;
                pointer-events: none;
            }
        }

    }

    .contact{
        .form-control{
            background-color: $input-background-color
        }
    }

    .pickup-size{
        input[type="number"] {
            -webkit-appearance: textfield;
            -moz-appearance: textfield;
            appearance: textfield;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
            -webkit-appearance: none;
        }

        .increment-btn{
            border: none;
            background-color: white;
            padding-right: 10px;
        }

        .increment-up{
            display: grid;
            place-items: end center;
        }

        .increment-down{
            display: grid;
            place-items: start center;
        }

        .help-link{
            color: black;
        }
    }

    .pickup-location{
        background-color: $input-background-color;

        .site-selection{
            background-color: white;
        }

        .img-upload{
            display: none;
        }
    }

    .contact{
        .phone-input{
            padding-right: 7px;
        }

        .ext-input{
            padding-left: 0;
        }
    }
}

